@import '_typography';
@import '_helperVariables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
}

html,
body {
  font: $font-body-m;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: $spacing * 2;
}

@each $name, $font in $typography {
  .#{$name} {
    font: $font;
  }
}

h1 {
  font: $font-1;
  letter-spacing: 1.21px;
}

h2 {
  font: $font-2;
  letter-spacing: 1.29px;
}

h3 {
  font: $font-3;
  letter-spacing: 1.45px;
}

h4 {
  font: $font-4;
  letter-spacing: 1.9px;
}

h5 {
  font: $font-5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

button * {
  pointer-events: none;
}

p {
  margin-bottom: $spacing !important;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

a,
a img,
button {
  transition: all 0.3s ease;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

svg:not(:root) {
  overflow: hidden;

  > * {
    pointer-events: none;
  }
}
