$neutral_colors: (
  main-grey: #191919,
  mid-grey: #646464
);

$brand_colors: (
  primary: #56a8c2,
  secondary: #8dc875
);

$semantic_colors: (
  sky: #00CDF9,
  apple: #8dc875,
  lavander: #9335cd,
  neon: #9335cd
);
